{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
	body{font-size: 31px;}

	table {
	  clear: both;
	  margin-bottom: 2em;
	  width: 100%;
	}

	th {
	  background-color: #C6C6C6;
	  text-align: center;
	}
	
	tr, th, td {
	  border: 1px solid #C6C6C6;
	  border-width: 1px 0;
	  padding: .5em .25em;
	  font-size: 30px;
	}
</style>    
{% endblock %}

{% set label_mes = {'1': 'ENERO', '2': 'FEBRERO', '3': 'MARZO', '4': 'ABRIL', '5': 'MAYO', '6': 'JUNIO', '7': 'JULIO', '8': 'AGOSTO', '9': 'SEPTIEMBRE', '10': 'OCTUBRE', '11': 'NOVIEMBRE', '12': 'DICIEMBRE'} %}

{% block space %}
	<p align="center">{{ cliente.nombre }}<br />DEBE A: <br />{{ empresa.nombre }}<br /> NIT {{ empresa.nit }}<br /> POR SERVICIOS PRESTADOS EN CARDIOLOGIA DURANTE EL MES DE {{ label_mes[f_f|date('m')] }} DE {{ date('now')|date('Y') }}</p>
{% endblock %}

{% block body %}

	<table>
		<tbody>
			<tr>
				<td width="30">Tipo</td>
				<td width="90">Identificación</td>
				<td width="70">Fecha</td>
				<td width="190">Paciente</td>
				<td width="35">Edad</td>
				<td width="90">Cargo</td>
				<td width="50">Valor</td>
				<td width="50">Copago</td>
			</tr>
        
        {% set copago = 0 %}
		{% set valor = 0 %}
        
        {% for entity in entities %}
        
        {% set valor = valor + entity.valor %}
        {% set copago = copago + entity.copago %}
            <tr>
                <td width="30">{{ entity.tipoId }}</td>
                <td width="90">{{ entity.identificacion }}</td>
                <td width="70">{{ entity.fecha|date('d-m-Y') }}</td>
                <td width="190">{{ entity.priNombre|capitalize }} {{ entity.segNombre|capitalize }} {{ entity.priApellido|capitalize }} {{ entity.segApellido|capitalize }}</td>
                <td width="35">{{date ('now')|date('Y-m-d') - entity.fN |  date ('Y-m-d')}}</td>
                <td width="90">{{ entity.nombre }}</td>
                <td width="50">{{ entity.valor }}</td>
                <td width="50">{{ entity.copago }}</td>
            </tr>
         {% else %}
         	<tr>
         		<td colspan="8">No tenemos actividades realizadas en este periodo de tiempo.</td>
         	</tr>
        {% endfor %}
        	<tr>
        		<td colspan="8"><br /><br />VALOR ACTIVIDADES: <b>${{ (valor)|number_format(0) }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="8"><br /><br />COPAGOS: <b>${{ (copago)|number_format(0) }}</b></td>
        	</tr> 
        	<tr>
        		<td colspan="8"><br /><br />TOTAL A COBRAR: <b>${{ (valor-copago)|number_format(0) }}</b><br />Favor consignar en Banco cuenta de ahorros No.####### A Nombre de: Centro de Imagenes y Hemodinamia CIMHE IPS LTDA. - NIT. 900.225.202-2</td>
        	</tr>        
        </tbody>
    </table>
    
{% endblock %}