{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Cierre de caja{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="success mensajes">
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="info">
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="error">
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}


{% block cuerpo %}
	<form action="{{ path('factura_arqueo_imprimir') }}" method="post" id="cierre">
		<fieldset>Datos del cierre
            <div>
            	<select id="sede" name="sede">
            	    <option value="">Seleccione una sede</option>
            	    {% for sede in sedes %} 
              			<option value="{{ sede.id }}">{{ sede.nombre }}</option>
               		{% endfor %}       
              	</select>
              	
              	<select id="usuario" name="usuario">
            	    <option value="">Seleccione un usuario</option>
            	    {% for usuario in usuarios %} 
              			<option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
               		{% endfor %}       
              	</select>
              	
              	<input type="submit" value="Enviar" />
            </div>
		</fieldset>
	</form>
	      		
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">

	$("#cierre").submit(function( event ){
		if($("#sede").val() == ""){
        	alert("Debes seleccionar una sede");
        	return false;
        }else{
        	if($("#usuario").val() == ""){
            	alert("Debes seleccionar un usuario");
            	return false;
            }
		}

		return true;
	});

	</script>
{% endblock %}