{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Modificar admisión{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="success mensajes">
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="info">
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="error">
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}





{% block cuerpo %}

<form action="{{ path('factura_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <fieldset>
    	<legend>Datos de la admisión</legend>
    	{{ form_widget(edit_form) }}
    </fieldset>
    
    <button class="action blue" type="submit">
        <span class="label">Modificar</span>
    </button>
    
    
</form>

{% if entity.copago %}
    {% set copago = entity.copago %}
{% else %}
    {% set copago = 0 %}
 {% endif %}

<a href="{{ path('factura_show', { 'factura': entity.id, 'copago': copago }) }}" target="blank" class="button blue"><span class="label">Cancelar</span></a>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	
	$( document ).ready(function() {
    	$("#editAdmision_fecha_date").prop("disabled","disabled");
    	$("#editAdmision_fecha_time").prop("disabled","disabled");
	});

	</script>
{% endblock %}
