{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	table.cliente {
    	font-size: 8pt;
    }
    
    table.descripcion {
    	font-size: 9pt;
        
    }
    
    table.valores{
    	font-size:9pt;
    }
</style>     
{% endblock %}


{% block space %}
<b><h1><p align="center">Factura de venta</p></h1></b>
    {% endblock %}

{% block body %}
	
	<div style="text-align:right"><h5>FACTURA DE VENTA {{ entity.id }}</h5></div>
	
	<table border="1" CELLPADDING="5" class="cliente">
 		<tbody>
            <tr>
            	<td width="15%">CEDULA O NIT:</td>                
            	<td width="36%">{{ entity.paciente.identificacion }}</td>
            	<td width="14%">FECHA</td>
            	<td width="35%">{{ entity.fecha|date('d-m-Y') }}</td>
            </tr>
            <tr>
            	<td width="15%" colspan="3">CLIENTE:</td>                
            	<td width="36%">{{ entity.paciente.priNombre }} {{ entity.paciente.segNombre }} {{ entity.paciente.priApellido }} {{ entity.paciente.segApellido }}</td>
            	<td width="14%">ASEGURADORA:</td>
            	<td width="35%">{{ entity.cliente.razon }}</td>
            	
            </tr>
            <tr>
            	<td width="15%">DIRECCIÓN:</td>                
            	<td width="36%">{{ entity.paciente.direccion }}</td>
            	<td width="14%">TIPO:</td>
            	<td width="35%">
            		{% if entity.paciente.tipoAfi == 'C' %}
            			COTIZANTE
            		{% else %}
            			BENEFICIARIO
            		{% endif %}
            	</td>
            </tr>
            <tr>
            	<td width="15%">TELÉFONO:</td>                
            	<td width="36%">{{ entity.paciente.telefono }}</td>
            	<td width="14%">CATEGORIA</td>                
            	<td width="35%">{{ entity.paciente.rango }}</td>
            </tr>
        </tbody>             
	</table>
	
	<br /><br />
		
	<table border="1" CELLPADDING="5" class="descripcion">
 		<tbody>
            <tr>
            	<td width="3%" colspan="2"></td>                
            	<td width="15%" align="center"><strong>CANTIDAD</strong></td>  
            	<td width="65%" align="center"><strong>CONCEPTO</strong></td>
            	<td width="17%" align="center"><strong>VALOR</strong></td>            	              
            </tr>
            <tr>           
            	<td width="3%"><img src="{{ asset('bundles/dlaser/images/rd.png') }}" border="0" /></td>
            	<td width="15%" align="center"><br /><br /><br /><br /><br /><br />1</td> 
            	<td height="550" width="65%">
            		<br /><br /><br /><br /><br /><br />{{ entity.cargo.nombre }}
            		
            	</td>
            	<td width="17%" align="center"><br /><br /><br /><br /><br /><br />${{ entity.valor|number_format(0) }}</td>                
            </tr>
        </tbody>             
	</table>
	
	<table border="1" CELLPADDING="5" class="valores">
 		<tbody>
            <tr>
            	<td width="30%" rowspan="4">Recibi Conforme:</td>
            	<td width="30%" rowspan="4">Entrega:</td>                
            	<td width="23%" align="center">Valor total de servicios</td>
            	<td width="17%" align="center">${{ (entity.valor)|number_format(0) }}</td>                
            </tr>
            <tr>
            	               
            	<td width="23%" align="center">Copago</td>
            	<td width="17%" align="center">{{ entity.copago|number_format(0) }}</td>                
            </tr>
            <tr>
            	               
            	<td width="23%" align="center">Asumido por institución</td>
            	<td width="17%" align="center">${{ entity.descuento|number_format(0) }}</td>                
            </tr>
            <tr>
            	                
            	<td width="23%" align="center">Valor neto a pagar EPS</td>
            	<td width="17%" align="center">${{ ((entity.valor - entity.copago)-entity.descuento)|number_format(0) }}</td>                
            </tr>            
        </tbody>             
	</table>	 	 
{% endblock %}
